.btn {
  display: block;
  width: 10rem;
  height: 3rem;

  background-color: #00a0d6;
  color: #fff;

  text-decoration: none;
  text-align: center;
  line-height: 3rem;
  font-weight: bold;

  border-radius: 5px;
  appearance: none;
  border: 0;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 1rem;

  &:hover {
    background-color: #008dbd;
  }

  @media (max-width: 680px) {
    width: auto;
    padding: 0 1rem;
  }

  &--no-pad {
    margin: 0;
  }

  &[disabled] {
    background-color: #c6c6c6;
    cursor: not-allowed;

    &:hover {
      background-color: #c6c6c6;
    }
  }
}
