.header {
  padding: 1rem 0;
  background-color: #14233c;

  @media (max-width: 680px) {
    position: sticky;
    top: 0;
    z-index: 10;
  }

  &__mob-nav {
    display: none;
    position: relative;
    height: 34px;
    width: 34px;

    @media (max-width: 680px) {
      display: block;
    }

    span {
      pointer-events: none;

      transition: height 150ms 250ms;

      &,
      &::before,
      &::after {
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 3px;

        background: #fff;
        border-radius: 2px;
      }

      &::before,
      &::after {
        content: '';
        right: 0;
      }

      &::before {
        top: calc(50% - 10px);
        left: 0;

        transition: top 200ms 200ms, transform 250ms 0ms;
      }

      &::after {
        top: calc(50% + 10px);
        left: 50%;
        transition: left 200ms 250ms, top 200ms 200ms, transform 250ms 0ms;
      }
    }

    &.is-active {
      & + .header__tagline {
        max-height: 300px;
      }

      span {
        transition: height 150ms 0ms;
        height: 0;

        &:before,
        &:after {
          top: 50%;
        }

        &:before {
          transform: rotate(135deg);

          transition: top 200ms 100ms, transform 250ms 300ms;
        }

        &::after {
          transform: rotate(225deg);
          left: 0;

          transition: left 200ms, top 200ms 100ms, transform 250ms 300ms;
        }
      }
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 960px;
    margin: auto;
    padding: 0 1rem;

    @media (max-width: 680px) {
      flex-wrap: wrap;

      .logo {
        &__image {
          width: 150px;
        }
      }
    }
  }

  &__tagline {
    display: flex;
    align-items: center;
    color: #fff;

    .btn {
      margin-left: 1.5rem;
    }

    p {
      line-height: 1.5;
      margin: 0;
    }

    @media (max-width: 680px) {
      max-height: 0;
      overflow: hidden;
      transition: max-height 500ms;
      width: 100%;
      flex-wrap: wrap;

      .btn {
        display: block;
        width: 100%;
        margin: 0.5rem 0;

        &:nth-child(1) {
          margin-top: 1.5rem;
        }
      }
    }
  }
}
