.logo {
  display: flex;
  align-items: flex-start;
  cursor: default;
  user-select: none;

  &__image {
    width: 120px;
    height: auto;
  }

  &__text {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin-left: 3px;
  }

  &--large {
    .logo {
      &__image {
        width: 200px;
      }

      &__text {
        font-size: 32px;
        margin-left: 6px;
      }
    }
  }
}
