 @import url('https://fonts.googleapis.com/css?family=K2D');

 h1 {
  font-family: 'K2D', sans-serif;
  color: #14233c;
  margin: 0;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 1rem 0;
  margin-bottom: 1rem;

  @media (max-width: 680px) {
    flex-wrap: wrap;

    .btn {
      width: 100%;
      margin-top: 1rem;
      margin-left: 0;
    }
  }

  &::after {
    content: '';
    position: absolute;
    background-color: #14233c;
    height: 0.1875rem;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
