fieldset {
  margin: 0 auto 1rem auto;
  padding: 0;
  border: 0;
  width: 100%;
}

label {
  display: block;
  text-align: left;
  width: 100%;
  margin-bottom: 0.5rem;
}

input {
  width: 100%;
  height: 2.75rem;
  padding: 0.3rem;
  font-size: 1rem;
  border: 1px solid #ccc;

  &[readonly] {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

form {
  width: 100%;
  max-width: 450px;
  margin: auto;
  padding: 1rem 0;

  .btn {
    margin: 0;

    @media (max-width: 680px) {
      width: 100%;
    }
  }
}

.login {
  &__btn {
    display: flex;
    justify-content: flex-end;
  }

  &__error {
    margin-bottom: 1rem;
    text-align: center;
    color: #f00;
  }
}
