.app {
  &__list {
    width: 100%;
    max-width: 960px;
    margin: auto;

    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 1rem 0;

      @media (max-width: 680px) {
        flex-wrap: wrap;

        .btn {
          width: 100%;
          margin: 1rem 0;
        }
      }

      &__content {
        display: flex;
        align-items: center;

        @media (max-width: 680px) {
          width: 100%;
          display: block;
        }
      }

      p {
        display: block;
        width: 100%;
        margin: 0;
      }
    }

    &__img {
      width: 100%;
      max-width: 100px;
      margin-right: 1rem;
      flex-shrink: 0;

      @media (max-width: 680px) {
        display: block;
        max-width: 200px;
        margin: 0 auto 1rem;
      }
    }
  }
}
