.user {
  max-width: 960px;
  margin: auto;

  &__list {
    &__item {
      padding: 1rem 0.5rem;
      width: calc(100% / 7);
      float: left;

      p {
        margin: 0.5rem 0 0;
        font-size: 1.25rem;
        text-align: center;
      }

      &:nth-child(7n + 1) {
        clear: left;
      }

      @media (max-width: 700px) {
        width: 25%;

        &:nth-child(7n + 1) {
          clear: none;
        }

        &:nth-child(4n + 1) {
          clear: left;
        }
      }

      @media (max-width: 500px) {
        width: 33.3333333%;

        &:nth-child(4n + 1) {
          clear: none;
        }

        &:nth-child(3n + 1) {
          clear: left;
        }
      }

      @media (max-width: 330px) {
        width: 50%;

        &:nth-child(3n + 1) {
          clear: none;
        }

        &:nth-child(2n + 1) {
          clear: left;
        }
      }
    }

    &__img {
      display: block;
      width: 100%;
      border-radius: 50%;
    }

    &::after {
      content: '';
      display: table;
      clear: both;
    }
  }
}

.pagination {
  width: 100%;
  display: flex;
  padding: 1rem;

  justify-content: center;
}
