 @import url('https://fonts.googleapis.com/css?family=K2D');html,
body {
  height: 100%;
}body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}* {
  box-sizing: border-box;
}p {
  margin: 0 0 1rem 0;
}a[href] {
    cursor: pointer;
  }h1 {
  font-family: 'K2D', sans-serif;
  color: #14233c;
  margin: 0;
}.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 1rem 0;
  margin-bottom: 1rem;
}@media (max-width: 680px) {.title {
    flex-wrap: wrap
}

    .title .btn {
      width: 100%;
      margin-top: 1rem;
      margin-left: 0;
    }
  }.title::after {
    content: '';
    position: absolute;
    background-color: #14233c;
    height: 0.1875rem;
    right: 0;
    bottom: 0;
    left: 0;
  }.content {
  width: 100%;
  text-align: center;
}.header {
  padding: 1rem 0;
  background-color: #14233c;
}@media (max-width: 680px) {.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10
}
  }.header__mob-nav {
    display: none;
    position: relative;
    height: 34px;
    width: 34px;
  }@media (max-width: 680px) {.header__mob-nav {
      display: block
  }
    }.header__mob-nav span {
      pointer-events: none;

      transition: height 150ms 250ms;
    }.header__mob-nav span,
      .header__mob-nav span::before,
      .header__mob-nav span::after {
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        height: 3px;

        background: #fff;
        border-radius: 2px;
      }.header__mob-nav span::before,
      .header__mob-nav span::after {
        content: '';
        right: 0;
      }.header__mob-nav span::before {
        top: calc(50% - 10px);
        left: 0;

        transition: top 200ms 200ms, -webkit-transform 250ms 0ms;

        transition: top 200ms 200ms, transform 250ms 0ms;

        transition: top 200ms 200ms, transform 250ms 0ms, -webkit-transform 250ms 0ms;
      }.header__mob-nav span::after {
        top: calc(50% + 10px);
        left: 50%;
        transition: left 200ms 250ms, top 200ms 200ms, -webkit-transform 250ms 0ms;
        transition: left 200ms 250ms, top 200ms 200ms, transform 250ms 0ms;
        transition: left 200ms 250ms, top 200ms 200ms, transform 250ms 0ms, -webkit-transform 250ms 0ms;
      }.header__mob-nav.is-active + .header__tagline {
        max-height: 300px;
      }.header__mob-nav.is-active span {
        transition: height 150ms 0ms;
        height: 0;
      }.header__mob-nav.is-active span:before,
        .header__mob-nav.is-active span:after {
          top: 50%;
        }.header__mob-nav.is-active span:before {
          -webkit-transform: rotate(135deg);
                  transform: rotate(135deg);

          transition: top 200ms 100ms, -webkit-transform 250ms 300ms;

          transition: top 200ms 100ms, transform 250ms 300ms;

          transition: top 200ms 100ms, transform 250ms 300ms, -webkit-transform 250ms 300ms;
        }.header__mob-nav.is-active span::after {
          -webkit-transform: rotate(225deg);
                  transform: rotate(225deg);
          left: 0;

          transition: left 200ms, top 200ms 100ms, -webkit-transform 250ms 300ms;

          transition: left 200ms, top 200ms 100ms, transform 250ms 300ms;

          transition: left 200ms, top 200ms 100ms, transform 250ms 300ms, -webkit-transform 250ms 300ms;
        }.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 960px;
    margin: auto;
    padding: 0 1rem;
  }@media (max-width: 680px) {.header__container {
      flex-wrap: wrap
  }
        .header__container .logo__image {
          width: 150px;
        }
    }.header__tagline {
    display: flex;
    align-items: center;
    color: #fff;
  }.header__tagline .btn {
      margin-left: 1.5rem;
    }.header__tagline p {
      line-height: 1.5;
      margin: 0;
    }@media (max-width: 680px) {.header__tagline {
      max-height: 0;
      overflow: hidden;
      transition: max-height 500ms;
      width: 100%;
      flex-wrap: wrap
  }

      .header__tagline .btn {
        display: block;
        width: 100%;
        margin: 0.5rem 0;
      }

        .header__tagline .btn:nth-child(1) {
          margin-top: 1.5rem;
        }
    }.logo {
  display: flex;
  align-items: flex-start;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}.logo__image {
    width: 120px;
    height: auto;
  }.logo__text {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin-left: 3px;
  }.logo--large .logo__image {
        width: 200px;
      }.logo--large .logo__text {
        font-size: 32px;
        margin-left: 6px;
      }.btn {
  display: block;
  width: 10rem;
  height: 3rem;

  background-color: #00a0d6;
  color: #fff;

  text-decoration: none;
  text-align: center;
  line-height: 3rem;
  font-weight: bold;

  border-radius: 5px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 1rem;
}.btn:hover {
    background-color: #008dbd;
  }@media (max-width: 680px) {.btn {
    width: auto;
    padding: 0 1rem
}
  }.btn--no-pad {
    margin: 0;
  }.btn[disabled] {
    background-color: #c6c6c6;
    cursor: not-allowed;
  }.btn[disabled]:hover {
      background-color: #c6c6c6;
    }.container {
  width: 100%;
  max-width: 960px;
  margin: auto;
  padding: 0 1rem;
}.container--centered {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }fieldset {
  margin: 0 auto 1rem auto;
  padding: 0;
  border: 0;
  width: 100%;
}label {
  display: block;
  text-align: left;
  width: 100%;
  margin-bottom: 0.5rem;
}input {
  width: 100%;
  height: 2.75rem;
  padding: 0.3rem;
  font-size: 1rem;
  border: 1px solid #ccc;
}input[readonly] {
    background-color: #ccc;
    cursor: not-allowed;
  }form {
  width: 100%;
  max-width: 450px;
  margin: auto;
  padding: 1rem 0;
}form .btn {
    margin: 0;
  }@media (max-width: 680px) {form .btn {
      width: 100%
  }
    }.login__btn {
    display: flex;
    justify-content: flex-end;
  }.login__error {
    margin-bottom: 1rem;
    text-align: center;
    color: #f00;
  }.app__list {
    width: 100%;
    max-width: 960px;
    margin: auto;
  }.app__list__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 1rem 0;
    }@media (max-width: 680px) {.app__list__item {
        flex-wrap: wrap
    }

        .app__list__item .btn {
          width: 100%;
          margin: 1rem 0;
        }
      }.app__list__item__content {
        display: flex;
        align-items: center;
      }@media (max-width: 680px) {.app__list__item__content {
          width: 100%;
          display: block
      }
        }.app__list__item p {
        display: block;
        width: 100%;
        margin: 0;
      }.app__list__img {
      width: 100%;
      max-width: 100px;
      margin-right: 1rem;
      flex-shrink: 0;
    }@media (max-width: 680px) {.app__list__img {
        display: block;
        max-width: 200px;
        margin: 0 auto 1rem
    }
      }.user {
  max-width: 960px;
  margin: auto;
}.user__list__item {
      padding: 1rem 0.5rem;
      width: calc(100% / 7);
      float: left;
    }.user__list__item p {
        margin: 0.5rem 0 0;
        font-size: 1.25rem;
        text-align: center;
      }.user__list__item:nth-child(7n + 1) {
        clear: left;
      }@media (max-width: 700px) {.user__list__item {
        width: 25%
    }

        .user__list__item:nth-child(7n + 1) {
          clear: none;
        }

        .user__list__item:nth-child(4n + 1) {
          clear: left;
        }
      }@media (max-width: 500px) {.user__list__item {
        width: 33.3333333%
    }

        .user__list__item:nth-child(4n + 1) {
          clear: none;
        }

        .user__list__item:nth-child(3n + 1) {
          clear: left;
        }
      }@media (max-width: 330px) {.user__list__item {
        width: 50%
    }

        .user__list__item:nth-child(3n + 1) {
          clear: none;
        }

        .user__list__item:nth-child(2n + 1) {
          clear: left;
        }
      }.user__list__img {
      display: block;
      width: 100%;
      border-radius: 50%;
    }.user__list::after {
      content: '';
      display: table;
      clear: both;
    }.pagination {
  width: 100%;
  display: flex;
  padding: 1rem;

  justify-content: center;
}
